<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
    </head>
    <style>
        .border_top{
            /*background-color:#1ABC9C;*/
            /*background-color: #5484ca;*/
             background: rgba(0, 0, 0, 0) linear-gradient(135deg, #34495e 0%, #41aba0 100%) repeat scroll 0 0;
            height:100px;
        }
        
        .dashboard_options{
            padding:5px;
            /*background-color:#1ABC9C;*/
            /*background-color: #5484ca;*/
             background: rgba(0, 0, 0, 0) linear-gradient(135deg, #34495e 0%, #41aba0 100%) repeat scroll 0 0;
        }
        .dashboard_options li{
            list-style-type:none;
            margin:10px;
            font-size:20px;
        }
        .dashboard_options a img{
            display:block;
            margin: auto;
            margin-top:-75px;
            height:50px;
            width:50px;
        }
        .site_nav{
          background-color:rgba(255,255,255,0.2);
          border-radius:5px;
          margin:20px;
          position: fixed;
        }
        .site_nav ul li a{
          color:white;
          font-family:poiret;
          text-align:left;
        }
        .nav_icon{
            margin-right:20px;
            font-size:20px;
        }
        .title{
            color:#7F8C8D;
            letter-spacing: 3px;
            font-family: poiret;
            margin: auto;
            margin-top:50px;
            text-align:center;
        }
        .site_icon{
            margin-top:75px;
            background-color:#f5f5f5;
            border-radius:10px;
            padding:20px         
         }
         .site_icon img{
             display:block;
             margin:auto;
         }
         .site_info{
             margin-top:75px;
             color: #333333;
             font-family: poiret;
             text-align: left;
         }
         .site_info h3{
             font-size: 40px;
         }
         .site_info p{
             font-size:18px;
             margin-top: 50px;
             display:inline-block;
         }
         .site_info .button{
             display:inline-block;
             margin-left: 30px;
         }
         .button .btn{
             color: white;
             font-family: poiret;
             /*background-color: #1ABC9C;*/
             background-color: #34495e;
             font-size:20px;
         }
         @font-face{
           font-family:poiret;
           src:url(/fonts/poiret-one.regular.ttf);
       }
    </style>
   <body>
     <div class="row">
        <div class="border_top col-sm-12"></div>
            <div class="dashboard_options col-sm-2">
                <a href="/home"><img src="http://i.imgur.com/KW2Liea.png"></a>
                <div class="site_nav">
                    <ul>
                        <li><a href="#"><i class="nav_icon fa fa-sitemap"></i><strong>Sites</strong></a></li>
                        {{!--<li><a class="option" href="#">Account</a></li>--}}
                        <li><a href="/logout"><i class="nav_icon fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
             <div class="row col-sm-10">
                     <div class="col-sm-12">
                         <div class="title">
                            <h2>Your Managed Sites</h2>
                        </div>
                    </div>
                    {{#each sites}}
                         <div class="col-sm-4">
                             <div class="site_icon">
                                <img class="img-responsive" src="{{icon_url}}" style=" { width:{{icon_width}}; height:{{icon_height}} }">
                            </div>
                        </div>
                        <div class="site_info col-sm-7">
                            <h3>{{name}}</h3>
                            {{!--<p>Current Wait: 0 minutes</p>--}}
                            <div class="button">
                                <a href="/sites/{{_id}}"><button class="btn">See More</button></a>
                            </div>
                        </div>
                      
                    {{/each}}
                 
             </div>
        </div>
  </body>
</html>