<link rel="stylesheet" href="./styles/styles.css" type="text/css">
<link rel="stylesheet" href="../../styles/styles.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<style>
    body{
          background-color: #eeeeee;
    }
</style>
    <div id="dashboard" class="container-fluid" style="margin-top:100px;background-color:eeeeee">
        <div class="row">
        <div class="col-sm-2" style="background-color:#ffffff; box-shadow:2px 2px 2px grey;padding:10px;">
            <div id="dashboard_top">
                <img src="../images/DashLogoHalf.png">
            </div>
              <div id="siteNav" class="sidenav" height="500" style="margin-top:20px">
                <ul class="nav nav-stacked">
                    <li>
                        {{#if site}}
                            <a href="#">{{site.name}}</a>
                        {{else}}
                            {{#each sites}}
                             <a href='/sites/{{_id}}'>{{name}}</a>
                            {{/each}} 
                        {{/if}}
                    </li>
                    <li><a class="futureSite" href="#">Parking Office</a></li>
                    <li><a class="futureSite" href="#">Starbucks</a></li>
                    <li><a class="futureSite" href="#">Chic Fila</a></li>
                    <li><a class="futureSite" href="#">Panda Express</a></li>
                    <li><a class="futureSite" href="#">Salad Express</a></li>
                    <li><a class="futureSite" href="#">The Den</a></li>
                </ul>
            </div>
     </div>
   
        <div class="col-sm-10" style="margin-top:0px">
            {{#if site}}
                    {{>sites_date_pickers}}
            {{else}}
                {{#each sites}}
                    <div class="panel" style="box-shadow: 2px 2px 2px grey">
                        <div class="panel-heading" style="text-align:center">
                             <img src={{icon_url}}><h2>{{name}}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="thumbnail" style="border-style:none;background-color:transparent">
                                <a href="/sites/{{_id}}" ><img  class="img-rounded" width="50%" src={{image_url}}></a>
                                <div class="caption" style="margin:auto; width:100%; text-align:center" >
                                    <p>{{name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
    </div>
   </div>
</div>







