<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    </head>
    <style>
       @font-face{
           font-family:poiret;
           src:url(/fonts/poiret-one.regular.ttf);
       }
        .site_icon{
            margin:auto;
            margin-top:5px;
        }
        .site_icon img{
            display:block;
            margin:auto;
        }
        .dashboard_options{
            background: rgba(0, 0, 0, 0) linear-gradient(135deg, #34495e 0%, #41aba0 100%) repeat scroll 0 0;
            height:1000px;
            padding:5px;
        }
        .dashboard_options li{
            list-style-type:none;
            font-size:20px;
            margin:10px;
        }
        .dashboard_options a img{
            display:block;
            margin: auto;
            margin-top:-75px;
            height:50px;
            width:50px;
        
        }
      .site_nav{
          position:fixed;
          background-color:rgba(255,255,255,0.2);
          border-radius:5px;
          margin-top:20px;
          position: fixed;
        }
      .site_nav ul li a{
          color:white;
          font-family:poiret;
          text-align:left;
        }
        #profile_title, .outlier_title{
            color:#34495e;
            letter-spacing: 3px;
            font-family: poiret;
        }
        .data_number{
            font-size: 40px;
            font-weight: lighter;
            color: #333333;
        }
        .data_units{
            font-size: 18px;
            font-family: poiret;
            color: #34495e
        }
        .underline  rect{
            fill:#333333;
        }
        .site_data{
            margin: 50px 20px 20px 20px;
            background-color:#f5f5f5;
        }

        .chart{
            margin:auto;
            margin-top:50px;
            margin-bottom:20px;
            width: 75%;
            background-color: #f5f5f5;
        }
        .day_input{
            background-color: #34495e;
            border-radius: 15px;
            color: white;
            font-family:poiret;
            font-size: 30px;
            text-align: center;
            margin:auto;
            height:100px;
        }
      .time_text{
          font-family: poiret
      }
    .time_period_text{
        font-family:poiret;
        font-size:20px;
        text-align: center;
        display:inline-block;
        }
        .time_button{
            display:inline-block;
        }
      .from_text,.to_text{
          font-size: 15px;
          margin: 0px 10px 0px 10px;
          color:#333333
      }
      .time_unit{
          font-size:20px;
          color:#34495e;
      }
            .data_period{
          margin-top:-10px;
          position: relative;
          display: inline-block;
        }
      .data_period .btn{
        background-color:#34495e;
        color:white;
        }
        .data_insight{
            font-size: 20px;
            font-weight: lighter;
            color: #333333;
        }

        .nav_icon{
            margin-right:20px;
            font-size:20px;
        }
        .alert{
            display:none;
            margin: auto;
            font-size: 15px;
        }
    </style>
    <body>
        <div class="row">
            {{!--<div class="border_top col-sm-12"></div>--}}
            <div class="dashboard_options col-sm-2">
                <a href="/home"><img src="http://i.imgur.com/KW2Liea.png"></a>
                <div class="site_nav">
                    <ul>
                        <li><a class="option" href="/sites"><i class="nav_icon fa fa-sitemap"></i>Sites</a></li>
                        <li><a href="/sites/{{site._id}}"><i class="nav_icon fa fa-dashboard"></i>Dashboard</a></li>
                        <li><a href="/sites/{{site._id}}/transactions"><i class="nav_icon fa fa-hourglass-2"></i>Wait Time</a></li>
                        <li><a href="/sites/{{site._id}}/purchases"><i class="nav_icon fa fa-money"></i>Purchases</a></li>
                        <li><a href="/sites/{{site._id}}/visits"><i class="nav_icon fa fa-users"></i><strong>Visits</strong></a></li>
                        <li><a href="/sites/{{site._id}}/conversions"><i class="nav_icon fa fa-balance-scale"></i>Conversions</a></li>
                        {{!--<li><a href="#">Behavior</a></li>--}}
                        <li><a class="option" href="/logout"><i class="nav_icon fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="row col-sm-10">
                <div class="site_icon">
                    <img src={{site.icon_url}} width={{site.icon_width}} height={{site.icon_height}}>
                </div>
                 <div class="text-center">
                     <div class="col-sm-12">
                        <h2 id="profile_title">Visitation Analysis</h2>
                    </div>  

                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" aria-label="close">x</a>
                        <strong>Oops!</strong> There is no data for specified period
                    </div>
                    <!--Chart for the current wait-->
                    <div class="row col-sm-12 site_data">
                        <div class="col-sm-offset-3 col-sm-6 data_period">
                            <div class="btn-group">
                                <button id="day_button" type="button" class="btn btn-lg" data-toggle="collapse" data-target="#date_collapse">Day</button>
                                <button id="week_button" type="button" class="btn btn-lg" data-toggle="collapse" data-target="#date_collapse">Week</button>
                                <button id="month_button" type="button" class="btn btn-lg" data-toggle="collapse" data-target="#date_collapse">Month</button>
                            </div>
                        </div>
                        <div class="col-sm-5 row">
                            <div class="col-sm-12">
                                <span id="time_period_sel" style="margin-right:20px"><i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i></span>
                                <button name="day" id="dec_time_back" type="button" class="time_button btn btn-default"><i class="fa fa-chevron-left"></i></button>
                                <p class="time_period_text"></p>
                                <button name="day" id="inc_time_fwd" type="button" class="time_button btn btn-default"><i class="fa fa-chevron-right"></i></button></br>
                                <p class="time_text"><span class="from_text">from</span><span id="from_time" class="time_unit">8:00 AM</span><span class="to_text">to</span><span id="to_time" class="time_unit">5:00 PM</span></p>
                            </div> 
                            <div class="col-sm-12">
                                 <p class="data_insight">Most Visits</p> 
                                <p class="data_units"><strong id="max_Visits" class="data_number">0</strong> 
                                </br>
                                <svg  class="underline" width="200" height="2">
                                    <rect x="0" y="0" width="200" height="2">
                                </svg>
                            </div>
                            <div class="col-sm-12">
                                 <p class="data_insight">Least Visits</p>
                                <p class="data_units"><strong id="min_Visits" class="data_number">0</strong>  
                                </br>
                                <svg  class="underline" width="200" height="2">
                                    <rect x="0" y="0" width="200" height="2">
                                </svg>
                                 
                            </div> 
                             <div class="col-sm-12">
                                 <p class="data_insight">Total Visits</p>
                                <p class="data_units"><strong id="total_Visits" class="data_number">0</strong> 
                                </br>
                                <svg  class="underline" width="200" height="2">
                                    <rect x="0" y="0" width="200" height="2">
                                </svg>
                                  
                            </div>
                        </div>
                         <div class="col-sm-7 chart">
                            <canvas width="300" height="200" id="client_visits_cntxt"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/js/test/detail_charts/client_visits_chart.js"></script>
    <script>
        $("#time_period_sel").daterangepicker({
        singleDatePicker: true,
        startDate: moment()
        },
        function(start,end,label){
            start = start.hour(8).minute(0);
            end = moment(start).hour(17);
            $(".time_period_text").text(start.format('MMM Do YYYY'));
            getVisitsForRange(start,end,"day")
        }
    );
         function sortDescending(values){
    var sorted = values.sort(function(a,b){
        return b-a;
    });
    return sorted;
}
function sortAscending(values){
    var sorted = values.sort(function(a,b){
        return a-b;
    });
    return sorted;
}
function max(collection){
    if(collection.length > 0){
    var toSort = [];
        toSort = toSort.concat(collection)
    var sorted = sortAscending(toSort)
     ////console.log(sorted)
    return sorted.pop()
    }else{
        return 0
    }
}
function min(collection){
    if(collection.length > 0){
        var toSort = [];
            toSort = toSort.concat(collection)
        var sorted = sortDescending(toSort);
        ////console.log(sorted)
        return sorted.pop()
    }else{
        return 0
    }
}
function total(collection){
    if (collection.length > 0){
        var totalled = collection.reduce(function(total,value){
        return total + value;
    })
    return totalled/collection.length;
    }else{
        return 0
    }
}
function avg(collection){
    if (collection.length > 0){
        var totalled = collection.reduce(function(total,value){
            return total + value;
         })
        
    return totalled/collection.length;
    }else{
        return 0;
    }
}
    function getVisitsForRange(start,end,range){
        var visitsEachUnit = [];
            var minVisits = 0;
            var maxVisits = 0;
            var avgWaitOverall = 0;
            var visits = 0
            var units = [];
        switch(range){
           case "day":
                range_limit = 10
                var hrsInDay = []//creates an array containing each hour in day 
                for (i = 0; i < range_limit; ++i){
                    var dayHour = moment().hours(8).minutes(0).seconds(0).add(i,'hours');
                        hrsInDay.push(dayHour);
                        units.push(dayHour.format('ha'));
                    }
                    console.log(units);
                    break
            case "week":
                range_limit = 7
                var days = [];
                for(i = 0; i < range_limit; i++){
                    var day = moment().add(i,'days');
                    days.push(day);
                    units.push(day.format('Do'));
                }
                break
            case "month":
                range_limit = 30
                var days = [];
                for(i = 0; i < range_limit; i++){
                    var day = moment().add(i,'days');
                    days.push(day);
                    units.push(day.format('Do'));
                }
                break
            default: break
         }
        for(i = 0;i < range_limit; i++){
            var stat =  Math.floor(Math.random()*10) + 1;
               visitsEachUnit.push(stat);
        }
        minVisits = min(visitsEachUnit);
        maxVisits = max(visitsEachUnit);
        visits = Math.floor(Math.random()*100 + 10)
        avgWaitOverall = avg(visitsEachUnit)
      
                            console.log("Some Rates in"+range);
                            client_visits_chart.data.datasets[0].data = visitsEachUnit;
                            $(".alert").hide();
                            $("#min_Visits").text(minVisits);
                            $("#max_Visits").text(maxVisits);
                            $("#total_Visits").text(visits)
                            client_visits_chart.data.labels = units
                            client_visits_chart.update();
            
        }
        function getAverageRatesForRange(start,end,range){
                var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function(){
                        if(this.status == 200 && this.readyState == 4){
                            var stats = JSON.parse(this.responseText);
                            console.log(stats);
                            if (stats.status != "No Rates"){
                                client_visits_chart.data.datasets[1].data = stats.avg_rates;
                                client_visits_chart.update();
                            }
                        }
                    };
                    xmlhttp.open("POST","/api/rates/{{site._id}}/"+range+"/averages",true);
                    xmlhttp.setRequestHeader("Content-Type","application/json");
                  
                var range = JSON.stringify({start:start,end:end});
                    xmlhttp.send(range);
            }
</script>
     <script>
        $(document).ready(function(){
            var today = moment().format('MMM Do YYYY')
            $(".time_period_text").text(today)
            
            $(".close").click(function(){
                  $(".alert").hide();
              })
             $("#day_button").click(function(){
                $("#inc_time_fwd").attr("name","day");
                $("#dec_time_back").attr("name","day");
                var today = moment().format('MMM Do YYYY')
                var start = moment().hour(8).minutes(0)
                var end  = moment().hour(17).minutes(0)
                $(".time_period_text").text(today)
                $("#from_time").text("8:00 AM");
                $("#to_time").text("5:00 PM");
                 getVisitsForRange(start,end,"day")
            });
            $("#week_button").click(function(){
                $("#inc_time_fwd").attr("name","week");
                $("#dec_time_back").attr("name","week");
                $(".time_period_text").text("Week Stats")
                var weekStart = moment().startOf('week')
                var weekEnd = moment().endOf('week')
                $("#from_time").text(weekStart.format('MMM Do YYYY'))
                $("#to_time").text(weekEnd.format('MMM Do YYYY'))
                 getVisitsForRange(weekStart.hour(8),weekEnd.hour(15),"week")
            });
            $("#month_button").click(function(){
                $("#inc_time_fwd").attr("name","month");
                $("#dec_time_back").attr("name","month");
                var month = moment().month();
                var months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
                var currentMonth = months[month];
                var monthStart = moment().startOf('month')
                var monthEnd = moment().endOf('month')
                $(".time_period_text").text(currentMonth)
                $("#from_time").text(monthStart.format('MMM Do YYYY'))
                $("#to_time").text(monthEnd.format('MMM Do YYYY'))
                getVisitsForRange(monthStart.hour(8),monthEnd.hour(17),"month")
            })
            $("#inc_time_fwd").click(function(){
            
                switch ( $(this).attr("name")){
                    case "day":
                       var dayText = $(".time_period_text").text();
                        var dayMoment = moment(dayText,'MMM Do YYYY').utcOffset(-4);
                        //console.log(dayMoment)
                        var start = dayMoment.add(1,'days').startOf('day');
                        //console.log(start)
                        var end = moment(dayText,'MMM Do YYYY').add(1,'days').endOf('day');
                         $(".time_period_text").text(start.format('MMM Do YYYY'))
                        getVisitsForRange(start,end,"day")
                        break
                    case "week":
                        var dayText = $("#from_time").text();
                        var toText = $("#to_time").text();
                        //console.log(dayText)
                        var dayMoment = moment(dayText,'MMM Do YYYY');
                        var endMoment = moment(toText,'MMM Do YYYY');
                        //console.log(dayMoment)
                        var start = dayMoment.add(7,'days').hours(8);
                        //console.log(start)
                        var end = endMoment.add(7,'days').hours(17);
                        $("#from_time").text(start.format('MMM Do YYYY'))
                        $("#to_time").text(end.format('MMM Do YYYY'))
                        getVisitsForRange(start,end,"week");
                        break
                    case "month":
                        var month = $(".time_period_text").text();
                        var monthMoment = moment().month(month).date(1).hour(8)
                        var nextMonth = monthMoment.add(1,'months').startOf('month')
                        var start = nextMonth.hour(8);
                   
                         var months = ["January","February","March",
                                        "April","May","June","July","August","September",
                                        "October","November","December"]
                        var nextMonth = months[nextMonth.month()];
                        var end = moment().month(nextMonth).endOf('month')
                        $(".time_period_text").text(nextMonth);
                        $("#from_time").text(start.format('MMM Do YYYY'))
                        $("#to_time").text(end.format('MMM Do YYYY'))
                        getVisitsForRange(start,end,"month")
                        break
                    default:
                        break
                }
            });
            $("#dec_time_back").click(function(){
              
                switch ( $(this).attr("name")){
                    case "day":
                        var dayText = $(".time_period_text").text();
                        console.log(dayText)
                        var dayMoment = moment(dayText,"MMM Do YYYY");
                        //console.log(dayMoment.format())
                        var start = dayMoment.clone().subtract(1,'days').startOf('day');
                        console.log(start.format());
                        var end = start.clone().endOf('day');
                        console.log(end.format());
                        console.log(start.format());
                          getVisitsForRange(start,end,"day");
                        $(".time_period_text").text(start.format('MMM Do YYYY'))
                        break
                    case "week":
                        var fromText = $("#from_time").text();
                        var toText = $("#to_time").text();
                        var dayMoment = moment(fromText,'MMM Do YYYY')
                        var endMoment = moment(toText,'MMM Do YYYY')
                        var start = dayMoment.subtract(7,'days');
                        var endDay = endMoment.subtract(7,'days');
                        var end = endDay.add(12,'hours');
                        $("#from_time").text(start.format('MMM Do YYYY'));
                        $("#to_time").text(end.format('MMM Do YYYY'));
                        getVisitsForRange(start,end,"week");
                        break
                    case "month":
                        var month = $(".time_period_text").text();
                        var monthMoment = moment().month(month).date(1).hour(8)
                        var start = monthMoment.subtract(1,'months').startOf('month')
                        var months = ["January","February","March",
                                        "April","May","June","July","August","September",
                                        "October","November","December"]
                        var prevMonth = months[start.month()];
                        var end = moment().month(prevMonth).endOf('month')
                        $(".time_period_text").text(prevMonth)
                        $("#from_time").text(start.format('MMM Do YYYY'));
                        $("#to_time").text(end.format('MMM Do YYYY'));
                        getVisitsForRange(start,end,"month");
                        break
                    default:
                        break
                }
            });            
        })
    </script>
    <script>
    var dayStart = moment().hour(8).minutes(0);
    var dayEnd = moment().hour(17).minutes(0);
      getVisitsForRange(dayStart,dayEnd,"day")
</script>
</html>